<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        p{
            font-family: Nunito;
            font-size: 18px;
            max-width: 85%;
        }
    </style>

</head>
<body>
<h2> Dear {{admin.username}},</h2>

  <p>
    I hope this email finds you well. I feel glad to inform you {{employee.username}} in our team is about to celebrate their birthday today. 
  </p>
  <p>
    We love to grab this opportunity to deeply appreciate the unwavering support & dedication of {{employee.username}} and also to make this day memorable by celebrating this special day.
  </p>
  <p>
    Here are few details about {{employee.username}}'s birthday.<br>

   Date: {{employee.dob}} <br>
   Age: {{Age}}years<br>
    </p>
 <p>
    Thank you for your attention for this matter and we are looking forward to make {{Employee.username}} birthday a memorable one.

</p>
    <p>
    Best regards,<br>
    Cydez Technologies<br>
    cydezt@gmail.com <br>
    HRMS Support Team <br>
</p>
</body>
</html>