<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>HRMS</title>
    <link rel="icon" href="/static/logo/apple-touch-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Site favicon -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="static/index/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/index/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/index/vendors/images/favicon-16x16.png"> -->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/index/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="static/index/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="static/index/src/plugins/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="static/index/vendors/styles/style.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
    <script>
       
        flatpickr("[data-behavior='flatpickr']", {
            allowInput: true,
            dateFormat: "Y-m-d"
        });
    </script>
   <style>

    

    .ic {
        cursor: pointer;
        
    }
   

        
         
        .img {
            border: 1px solid #6f6e6e;
            display: none;
            margin-left: 150px;
            height: 600px;
            position: fixed;
            top: 10%;
            z-index: 100px;
            
            left: 5;
            bottom: 0;
            
            border-bottom: 1px;
            border-bottom: #6f6e6e;
            align-items: center; 
            justify-content: center;
            
           background-color: rgb(72, 73, 74);
            width: 600px;
            
            
            
            
        }
        .im {
            margin-top: 10px;
           height: 100%;
           width: 100%;
        } 
        .im1 {
            margin-top: 10px;
           height: 100%;
           width: 100%;
       } 
        .im2 {
            
           margin-top: 10px;
           height: 100%;
           width: 100%;
       } 
         
        .img1 {
            border: 1px solid #6f6e6e;
            display: none;
            margin-left: 150px;
            height: 600px;
            position: fixed;
            top: 10%;
           
            
            left: 5;
            bottom: 0;
            
            border-bottom: 1px;
            border-bottom: #6f6e6e;
            align-items: center; 
            justify-content: center;
            
           background-color: rgb(72, 73, 74);
            width: 600px;
            
        }
        .img2 {
            border: 1px solid #6f6e6e;
            display: none;
            margin-left: 150px;
            height: 600px;
            position: fixed;
            top: 10%;
            z-index: 100px;
            
            left: 5;
            bottom: 0;
            
            border-bottom: 1px;
            border-bottom: #6f6e6e;
            align-items: center; 
            justify-content: center;
            
           background-color: rgb(72, 73, 74);
            width: 600px;
            
        }

    </style>
    
</head>
<body>

    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            
        </div>
        <div class="header-right">
            <div class="dashboard-setting user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
                        
                    </a>
                </div>
            </div>
            <!-- <div class="user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                        <i class="icon-copy dw dw-notification"></i>
                        <span class="badge notification-active"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="notification-list mx-h-350 customscroll">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/img.jpg" alt="">
                                        <h3>John Doe</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/photo1.jpg" alt="">
                                        <h3>Lea R. Frith</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/photo2.jpg" alt="">
                                        <h3>Erik L. Richards</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/photo3.jpg" alt="">
                                        <h3>John Doe</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/photo4.jpg" alt="">
                                        <h3>Renee I. Hansen</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/img.jpg" alt="">
                                        <h3>Vicki M. Coleman</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <span class="user-icon">
                             
                        {% if profile.image %}
                            <img src="{{ profile.image.url }}" alt="" style="width: 100%; height:100% ">
                        {% else %}
                        <img src="/static/logo/userlogo.png" id="photo" style="width: 100%; height:100% ">
                        {% endif %}
                        </span>
                        <span class="user-name">{{request.user.username}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" href="{% url 'createpersonalinfo' %}"><i class="dw dw-user1"></i> Profile</a>
                        <a class="dropdown-item" href="{% url 'department' %}" data-toggle="right-sidebar"><i class="dw dw-settings2"></i> Settings</a>
                        <a class="dropdown-item" href="{% url 'help_page' %}"><i class="dw dw-help"></i> Help</a>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dw dw-logout"></i> Logout</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- <div class="right-sidebar">
        <div class="sidebar-title">
            <h3 class="weight-600 font-16 text-blue">
                 Settings -->
                <!--<span class="btn-block font-weight-400 font-12">User Interface Settings</span>-->
            <!-- </h3>
            <div class="close-sidebar" data-toggle="right-sidebar-close">
                <i class="icon-copy ion-close-round"></i>
            </div>
        </div>

        <div class="right-sidebar-body customscroll">
            <div class="right-sidebar-body-content">
                				<h4 class="weight-600 font-18 pb-10" ><a href="{% url 'department' %}">Department</a> </h4>
				<h4 class="weight-600 font-18 pb-10" ><a href="{% url 'subdepartment' %}">Sub Department</a> </h4>
				<h4 class="weight-600 font-18 pb-10"><a href="{% url 'designation' %}">Designation</a></h4>
				<h4 class="weight-600 font-18 pb-10"><a href="{% url 'job' %}">Job Title</a></h4>
				<h4 class="weight-600 font-18 pb-10"><a href="{% url 'wrk' %}">Work location</a></h4>
            </div>
        </div>
    </div> -->

    <div class="left-side-bar">
        <div class="brand-logo mt-3">
        <a href="{% url 'dashboard' %}">
            {% if request.user.company_type %}
            {% if request.user.company_type.inverse_logo %}
            <img src="{{ request.user.company_type.inverse_logo.url }}" style="width: 100%; height: 100%;">
            {% else %}
            <img src="/static/logo/deskapp-logo-white.svg" alt="" class="light-logo">
            {% endif %}
            {% else %}
            <img src="/static/logo/deskapp-logo-white.svg" alt="" class="light-logo">
            {% endif %}
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
           <i class="ion-close-round"></i>
        </div>
     </div>
      
       <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
					
					<br>
					<li class="btn-primary active" style="background-color:black">
						<a href="{% url 'dashboard' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-house-1"></span><span class="mtext"><b>Dashboard</b></span>
						</a>
					</li>
					
					<li>
						<a href="{% url 'companyprofile' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-building"></span><span class="mtext"><b>Company Profile</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'personalinfonav' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-user1"></span><span class="mtext"><b>My Profile</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'leave' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-calendar-1"></span><span class="mtext"><b>Leave</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'directory' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-list"></span><span class="mtext"><b>Directory</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'dailylog' %}" class="dropdown-toggle no-arrow">
							<span class="micon bi bi-check2-square"></span><span class="mtext"><b>Attendance</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'calender' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-calendar"></span><span class="mtext"><b>Holiday Calendar</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'runpayroll_overview' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-money-2"></span><span class="mtext"><b>Payroll</b></span>
						</a>
					</li>


				</ul>
            </div>
        </div>
    </div>
<div class="main-container">
          
    <!-- <div class="pd-ltr-20 xs-pd-20-10" > -->

    <!-- <div class=""> -->
               <div class="card-box height-100-p overflow-hidden">
                   <!-- <div class="profile-tab height-100-p">
                       <div class="tab height-100-p"> -->
                           <!-- <br><h4 class="text-blue h4" style="padding-left:30px">COMPANY PROFILE</h4> -->
                           <ul class="nav nav-tabs customtab" role="tablist">
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'personalinfonav' %}">Personal</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="{% url 'worknav' %}">Work</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'view_team' request.user.id %}">Team</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="{% url 'educationnav' %}">Education</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'familynav' %}">Family</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link active" href="{% url 'documentsnav' %}">Document</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'workweeknav' %}">Workweek</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="{% url 'pay_slip' %}">Payroll</a>
                               </li>
                               <li class="nav-item">
                                <a class="nav-link" href="{% url 'e_exit' %}">E-Exit</a>
                            </li>
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'filemanagernav' %}">Filemanager</a>
                               </li>
                               <li class="nav-item">
                                    <a class="nav-link" href="{% url 'list_generated_certificates' %}">Experience Certificates</a>
                                </li>
                            <!-- </div> -->
                           </ul>

                           <div class="min-height-100px">
                            <!-- <div class="tab height-100-p"> -->
                                <!-- <br><h4 class="text-blue h4" style="padding-left:30px">Payroll</h4> -->
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{% url 'documentsnav' %}">Documents</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'certifications' %}">Certifications</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'doc_work' %}">Work</a>
                                    </li>
                                </ul>
                                
                            </div> 
        
                           <!-- <div class="main-container" style="padding-top: 0px;" >  -->
                            <!-- <div class="pd-ltr-20 xs-pd-20-10" > -->
                                <div class="min-height-200px">
                                    <!-- <div class="pd-20 card-box mb-30"> -->
                                        <!-- <div class="clearfix" style="padding-left: 20px;">
                                            <h4 class="text-blue h4">MY PROFILE</h4>
                                        </div>                               -->
                                    <!-- <h5 style="padding-left: 20px;">Documents</h5>
                                        <br><br> -->
                                        <div class="pd-20 card-box mb-30" style="margin-bottom: 0;">
                                            
                                        
                                            <h6>ID's</h6><hr>
                                            
                                            
                                            <table class="table table-hover">
                                                <tr style="background-color:rgb(233, 227, 227)">
                                                    <th scope="col">Proofs</th>
                                                    <th></th>
                                                    
                                                </tr>
                                                <tbody>
                                                   
                                                        <tr>
                                                            <td scope="col">Photo ID</td>
                                                            {% if proofs.1 %}
                                                                <td id="result"><i class="icon-copy fa fa-check" aria-hidden="true" style="color: rgb(54, 199, 54);padding-right: 100px;"></i></td>
                                                            {%else%}
                                                                <td id="pf2"><i class="icon-copy fa fa-close" aria-hidden="true" style="color: rgb(241, 26, 26);padding-right: 100px;"></i></td>
                                                            
                                                            {% endif %}
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Date of Birth</td>
                                                            {% if proofs.2 %}
                                                                <td id="pf2"><i class="icon-copy fa fa-check" aria-hidden="true" style="color: rgb(54, 199, 54);padding-right: 100px;"></i></td>
                                                            {%else%}
                                                                <td id="pf2"><i class="icon-copy fa fa-close" aria-hidden="true" style="color: rgb(241, 26, 26);padding-right: 100px;"></i></td>
                                                            {%endif%}
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Current Address</td>
                                                            {% if proofs.3 %}
                                                                <td id="pf2"><i class="icon-copy fa fa-check" aria-hidden="true" style="color: rgb(54, 199, 54);padding-right: 100px;"></i></td>
                                                            {%else%}
                                                                <td id="pf2"><i class="icon-copy fa fa-close" aria-hidden="true" style="color: rgb(241, 26, 26);padding-right: 100px;"></i></td>
                                                            {%endif%}
                                                        </tr>
                                                        <tr>
                                                            <td scope="col">Permanent Address</td>
                                                            {% if proofs.4 %}
                                                                <td id="pf2"><i class="icon-copy fa fa-check" aria-hidden="true" style="color: rgb(54, 199, 54);padding-right: 100px;"></i></td>
                                                            {%else%}
                                                                <td id="pf2"><i class="icon-copy fa fa-close" aria-hidden="true" style="color: rgb(241, 26, 26);padding-right: 100px;"></i></td>
                                                            {%endif%}
                                                        </tr>
                                                    
                                                </tbody>
                                            </table>
                                            <hr>
                                            <!-- <table class="table table-hover"style="padding-top:1%;">
                                                
                                                <tr style="background-color:rgb(255, 254, 254)"> -->
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <h6 >Uploaded Documents</h6>
                                                        </div>
                                                        <div class=" col-md-2">
                                                        <i class="fa fa-plus-circle" data-toggle="modal" data-target="#uploadedDocuments" style="font-size: 24px;color:grey;float: right;cursor: pointer;"></i>
                                                        </div>
                                                        <div class="modal fade bs-example-modal-md" id="uploadedDocuments" >
                                                            <div class="modal-dialog modal-md modal-dialog-centered" >
                                                                <div class="modal-content">
                                                        
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title" >Uploaded Documents</h4>
                                                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form action="{% url 'tableuploadeddocs' uid_7=request.user.id %} " method="post" enctype="multipart/form-data" class="form-container" role="form" >
                                                                            {% csrf_token %}
                                                                        
                                                                            <!-- <br> -->
                                                                            <!-- <div class="row">  -->
                                                                                <!-- <div class="card-box" style="margin-left:20px;margin-right: 20px;padding-left: 20px;padding-right: 20px;">
                                                                                    <div class="row"> -->
                                                                                        <div class="col-md-12" >
                                                                                            
                                                                                                <div class="form-group">
                                                                                                    <label>Type <span style="color:red">&#42</span></label>
                                                                                                    <!-- <input class="form-control" type="text" name="Type1" required pattern="[a-zA-Z]+"> -->
                                                                                                 <select class="select form-control" name="Type1" id="idSelect" required>
                                                                                                    <option value="" disabled selected>Select ID Type</option>
                                                                                                    <option>PAN Card</option>
                                                                                                    <option>Aadhaar Card</option>
                                                                                                    <option>Passport</option>
                                                                                                    <option>Driving Licence</option>
                                                                                                    <option>Voter ID</option>
                                                                                                    <option>Electricity Bill</option>
                                                                                                    <option>Phone Bill</option>
                                                                                                    <option>Bank passbook</option>
                                                                                                    <option>Rental Agreement</option>
                                                                                                    
                                                                                                    
                                                                                                 </select>
                                                                                                </div>  
                                                                                            
                                                                                        </div>
                                                                                        <div class="col-md-12">
                                                                                            <div class="form-group">
                                                                                                <label>ID <span style="color:red">&#42</span></label>
                                                                                                <input class="form-control" type="text" name="Idno" required pattern="[0-9\@#$'<>%^&*?/!]+">
                                                                                            </div>
                                                                                         </div>
                                                                                         <div class="col-md-12">
                                                                                            <div class="form-group">
                                                                                                <label>Use it as proof for <span style="color:red">&#42</span></label>
                                                                                                
                                                                                                <!-- <input class="form-control" type="text" name="Uploadedby" required pattern="[a-zA-Z]+"> -->
                                                                                                <div class="custom-control custom-checkbox mb-5">  
                                                                                                <input type="checkbox" class="custom-control-input" value="1 " name="proof" id="customCheck1">
                                                                                                <label class="custom-control-label" for="customCheck1">Photo ID</label>
                                                                                                </div>
                                                                                                <div class="custom-control custom-checkbox mb-5">
                                                                                                <input type="checkbox" class="custom-control-input"  value="2" name="proof" id="customCheck2" >
                                                                                                <label class="custom-control-label" for="customCheck2">Date of Birth</label>
                                                                                                </div>
                                                                                                <div class="custom-control custom-checkbox mb-5">
                                                                                                <input type="checkbox" class="custom-control-input"  value="3" name="proof" id="customCheck3" >
                                                                                                <label class="custom-control-label" for="customCheck3">Current Address</label>
                                                                                                </div>
                                                                                                <div class="custom-control custom-checkbox mb-5">
                                                                                                <input type="checkbox" class="custom-control-input"  value="4" name="proof" id="customCheck4">
                                                                                                <label class="custom-control-label" for="customCheck4">Permanent Address</label>
                                                                                            </div>  
                                                                                            <p id="checkboxErrorMessage" style="color:red; display:none;">Please select at least one proof.</p>
            
                                                                                        </div>
                                                                                        </div>                                                                                       <!-- <div class="col-md-12"> -->
                                                                                            <div class="form-group">
                                                                                                <label>Image <span style="color:red">&#42</span></label>
                                                                                        <input  class="form-control" type="file" name="img" id="img" onchange="readUrl()" value="{{ l.image }}" accept=".jpg, .jpeg, .png, .gif"  required>
                                                                                        <img src="{{ l.image.url }}"  id="photo" >
                                                                                            </div>
                                                                                            <script>
                                                                                                var a = document.getElementById("photo");
                                                                                                    function readUrl(input){
                                                                                                    if(input.files){
                                                                                                        var reader = new FileReader();
                                                                                                        reader.readAsDataURL(input.files[0]);
                                                                                                        reader.onload=(e)=>{
                                                                                                            a.src = e.target.result;
                                                                                                        }
                                                                                                    }
                                                                                                    }
                                                                                            </script>
                                                                                             <input hidden id="uid" name="uploadid">
                                                                             
                                                                            <div class="modal-footer" >
                                                                                <button type="submit"  class="btn btn-primary" >Submit</button>
                                                                                <button type="button" onclick="displayproof()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                                        
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                
                                                        </div>
                                                    <!-- </div> -->
                                                    
                                                    <hr>
                                                  <!-- update document -->
                                                  <table class="table table-hover">
                                                
                                                    <!-- <tr style="background-color:rgb(255, 254, 254)">
                                                </tr> -->
                                                <thead>
                                                <tr style="background-color:rgb(233, 227, 227)">
                                                    <th scope="col">Type</th>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Uploaded By</th>
                                                   
                                                    <th scope="col">Verification</th>
                                                    <th scope="col">Actions</th>
                                                    <th scope="col"></th>
                                                    <th></th>
                                                    <th></th>
                                                </tr> 
                                            </thead>
                                                {% for i in uploads %}
                                                <div id="photo1" class="img" >
                                                    <span class="fa fa-close" onclick="closeimage()" style="margin-top: 10px; font-size: 20px;float: right;"></span>
                                                <img src="{{ i.image1.url }}" class="im" id="imd1" style=" border-width: 2px;">
                                            </div>
                                                <tbody>
                                                    <tr>
                                                        <td>{% if i.type1 %} {{ i.type1 }} {% endif %}</td>
                                                        <td>{% if i.id_no %} {{ i.id_no }} {% endif %}</td>
                                                        <td>{{request.user.username}}</td>
                                                        
                                                        <td>
                                                            {% if i.verificationstatus == 'Verified' %}
                                                                <span style="color: #6EC954; font-size: medium;">
                                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                                    Verified</span>
                                                            {% else %}
                                                            <span style="color: rgb(195, 170, 10)">Under Verification</span>
                                                            {% endif %}
                                                        </td>  
                                                    <td><a    class=" fa fa-eye" href="{{i.image1.url}}" target="_blank" id="aid" title="View Document" style="font-size: 20px;"></a></td>
                                                        <td><a href="{{i.image1.url}}" download="{{i.image1}}" class="fa fa-cloud-download" title="Download Document" style="font-size: 20px;"></a></td>
                                                    
                                                    {% if i.verificationstatus != 'Verified' %}
                                                    <td>
                                                        <a href="{% url 'delete_document' i.id %}" class="fa fa-trash" title="Delete Document"
                                                            style="font-size: 20px;"></a>
                                                    </td>
                                                    {%else%}
                                                    <td></td>
                                                    {% endif %}
                                                        <td>
                                                            <button class="btn btn-link" data-toggle="modal" title="Edit" data-target="#editdoc{{ i.id }}" {% if i.verificationstatus == 'Verified' %} disabled {%endif%}>
                                                                <i class="fa fa-edit" style="font-size: 24px; color: grey;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <div id="photo1" class="img" >
                                                        <i class="fa fa-close" onclick="closeimage()" style="font-size: 20px;float: right; margin-top: 10p;"></i>
                                                    <img src="{{ i.image1.url }}" class="im"  style=" border-width: 2px;">
                                                </div> 
   
                                              
                                                    
                                                </tbody>

                                                <div class="modal fade bs-example-modal-md" id="editdoc{{ i.id }}" >
                                                    <div class="modal-dialog modal-md modal-dialog-centered" >
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edit Documents</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        
                                                        <div class="modal-body">
                                                            <form action="{% url 'update_docs' %}" method="post" enctype="multipart/form-data" class="form-container" role="form" id="editdoc_{{i.id}}" onsubmit="return validateForm2()">
                                                                {% csrf_token %}
                            
                                                                <input type="text" hidden name="editdoc" id="editdoc" value="{{i.id}}">
                                                                
                                                                <div class="row">
            
                                                                    <div class="col-md-12" >
                                                                                            
                                                                        <div class="form-group">
                                                                            <label>Type <span style="color:red">&#42</span></label>
                                                                            <select class="select form-control" name="Type" id="idSelect_{{i.id}}" required>
                                                                            <option value="" disabled selected>Select ID Type</option>
                                                                            <option value="PAN Card" {% if i.type1 == 'PAN Card' %}selected{% endif %}>PAN Card</option>
                                                                            <option value="Aadhaar Card" {% if i.type1 == 'Aadhaar Card' %}selected{% endif %}>Aadhaar Card</option>
                                                                            <option value="Passport" {% if i.type1 == 'Passport' %}selected{% endif %}>Passport</option>
                                                                            <option value="Driving Licence" {% if i.type1 == 'Driving Licence' %}selected{% endif %}>Driving Licence</option>
                                                                            <option value="Voter ID" {% if i.type1 == 'Voter ID' %}selected{% endif %}>Voter ID</option>
                                                                            <option value="Electricity Bill" {% if i.type1 == 'Electricity Bill' %}selected{% endif %}>Electricity Bill</option>
                                                                            <option value="Phone Bill" {% if i.type1 == 'Phone Bill' %}selected{% endif %}>Phone Bill</option>
                                                                            <option value="Bank passbook" {% if i.type1 == 'Bank passbook' %}selected{% endif %}>Bank passbook</option>
                                                                            <option value="Rental Agreement" {% if i.type1 == 'Rental Agreement' %}selected{% endif %}>Rental Agreement</option>
                                                                            </select>
                                                                        </div>  
                                                                    
                                                                    </div>
            
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>ID <span style="color:red">&#42</span></label>
                                                                            <input class="form-control" type="text" id="IdNo_{{i.id}}" name="IdNo" value="{{i.id_no}}" required >
                                                                            <span id="IdNo_Error_{{i.id}}" style="color: red;font-size: small;"></span> 
                                                                        </div>
                                                                    </div>
            
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Use it as proof for <span style="color:red">&#42</span></label>
                                                                            
                                                                            <div class="custom-control custom-checkbox mb-5">  
                                                                            <input type="checkbox" class="custom-control-input" value="1" name="proof" id="customcheck1_{{i.id}}" {% for proof in i.proof.all %}{% if proof.id == 1 %}checked{% endif %}{% endfor %}>
                                                                            <label class="custom-control-label" for="customcheck1_{{i.id}}">Photo ID</label>
                                                                            </div>
                                                                            <div class="custom-control custom-checkbox mb-5">
                                                                            <input type="checkbox" class="custom-control-input"  value="2" name="proof" id="customcheck2_{{i.id}}" {% for proof in i.proof.all %}{% if proof.id == 2 %}checked{% endif %}{% endfor %}>
                                                                            <label class="custom-control-label" for="customcheck2_{{i.id}}">Date of Birth</label>
                                                                            </div>
                                                                            <div class="custom-control custom-checkbox mb-5">
                                                                            <input type="checkbox" class="custom-control-input"  value="3" name="proof" id="customcheck3_{{i.id}}" {% for proof in i.proof.all %}{% if proof.id == 3 %}checked{% endif %}{% endfor %}>
                                                                            <label class="custom-control-label" for="customcheck3_{{i.id}}">Current Address</label>
                                                                            </div>
                                                                            <div class="custom-control custom-checkbox mb-5">
                                                                            <input type="checkbox" class="custom-control-input"  value="4" name="proof" id="customcheck4_{{i.id}}" {% for proof in i.proof.all %}{% if proof.id == 4 %}checked{% endif %}{% endfor %}>
                                                                            <label class="custom-control-label" for="customcheck4_{{i.id}}">Permanent Address</label>
                                                                        </div>  
                                                                        <p id="ErrorMessage_{{i}}" style="color:red; display:none;">Please select at least one proof.</p>
            
                                                                    </div>
                                                                    </div> 
            
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Image <span style="color:red">&#42</span></label>
                                                                            <input class="form-control" type="text" onfocus="(this.type='file')" name="docimg" id="img" onchange="validateFileSize(this)" accept=".jpg, .jpeg, .png, .gif" value="{{i.image1}}" required><br>
                                                                        </div>
                                                                    </div>
            
                                                                    <!-- <script>
                                                                        var a = document.getElementById("photo");
                                                                            function readUrl(input){
                                                                            if(input.files){
                                                                                var reader = new FileReader();
                                                                                reader.readAsDataURL(input.files[0]);
                                                                                reader.onload=(e)=>{
                                                                                    a.src = e.target.result;
                                                                                }
                                                                            }
                                                                            }
                                                                    </script> -->
                                                                    
                                                                </div>
                                                
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-primary" onsubmit="hideadd">Submit</button>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>        
                                                                </div>
                            
                                                            </form>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>

                                                {% endfor %}
                                                  </table>
                                                <div class="col-12">
                                                    {% if not uploads %}
                                                        <p style="text-align: center;">No Data Found</p>
                                                        <hr>
                                                    {% endif %}
                                                </div>
                                      
                                            <script> 
                                            n =  new Date();
                                            y = n.getFullYear();
                                            m = n.getMonth() + 1;
                                            d = n.getDate();
                                            document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
                                                // var date = new Date(); 
                                                // var dd = date.getDate(); 
                                                // var mm = date.getMonth() + 1; 
                                                // var yyyy = date.getFullYear(); 
                                                // var newDate = dd + "-" + mm + "-" +yyyy; 
                                                // var p = document.getElementById("myId"); 
                                                // p.innerHTML = newDate; 
                                                </script>
                                            
                                        
                                        <!-- <div class="text float-right">
                                            <a href="{% url 'familynav' %}"><button type="button"  class="btn btn-outline-primary ">Previous</button></a>
                                            <a href="{% url 'workweeknav' %}"><button type="button"  class="btn btn-primary ">Next</button></a>
                                        </div> -->
                                        <!-- </div> -->
                                    <!-- </section> -->
                                
                            </div>
                
                        <!-- </div> -->
                    </div>
                
            </div>
        <!-- </div> -->
    </div>

<script>
    const change = src => {
        document.getElementById('imd').src = src
        document.getElementById('imd1').src = src
        document.getElementById('imd2').src = src
    }
   
</script>

<script>
    function openimage(image3) {
        document.getElementById('imd').innerHTML=image3;
        document.getElementById('photo1').style.display='block';
    }
    function closeimage() {
        document.getElementById('photo1').style.display='none';
    }
    function openimage1() {
        document.getElementById('photo2').style.display='block';
    }
    function closeimage1() {
        document.getElementById('photo2').style.display='none';
    }
    function openimage2() {
        document.getElementById('photo3').style.display='block';
        
    }
    function closeimage2() {
        document.getElementById('photo3').style.display='none';
    }
</script>
<!-- Proof Tick -->
<!-- <script>
    const photo_id = document.getElementById('result')
    const uploads = JSON.parse('{{uploads|safe}}')
    
    uploads.forEach(i=>{
        console.log('Data: ',i);
    })
</script>     -->
<!-- js -->
<script src="static/index/vendors/scripts/core.js"></script>
<script src="static/index/vendors/scripts/script.min.js"></script>
<script src="static/index/vendors/scripts/process.js"></script>
<script src="static/index/vendors/scripts/layout-settings.js"></script>
<script src="static/index/src/plugins/jquery-steps/jquery.steps.js"></script>
<script src="static/index/vendors/scripts/steps-setting.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    {% for i in uploads %}
	function validateForm() {
		var idInput_{{i.id}} = document.getElementById("IdNo_{{i.id}}");
		var trimmedidInput = idInput.value.trim();
		var idno_Error_{{i.id}} = document.getElementById("IdNo_Error_{{i.id}}");
	  
		if (trimmedidInput === "") {
            idno_Error_{{i.id}}.textContent = "ID required";
            idInput_{{i.id}}.focus();
		  return false; 
		}

		idno_Error_{{i.id}}.textContent = ""; 
		return true; 
	  }
      {% endfor %}
	  
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkboxErrorMessage = document.getElementById("checkboxErrorMessage");

        document.querySelector("form").addEventListener("submit", function (event) {
            var atLeastOneChecked = Array.from(checkboxes).some(function (checkbox) {
                return checkbox.checked;
            });

            if (!atLeastOneChecked) {
                checkboxErrorMessage.style.display = "block";
                event.preventDefault(); 
            }
        });
    });
</script>



</body>
</html>