<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>HRMS</title>
    <link rel="icon" href="/static/logo/apple-touch-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- Site favicon -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="static/index/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/index/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/index/vendors/images/favicon-16x16.png"> -->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/index/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="static/index/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="static/index/src/plugins/jquery-steps/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="static/index/vendors/styles/style.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
    <script>
       
        flatpickr("[data-behavior='flatpickr']", {
            allowInput: true,
            dateFormat: "Y-m-d"
        });
    </script>
    <style>
        .form-popup {
            display: none;
            position:fixed;
            bottom:0;
            top: 0;
            
            z-index: 1;
            margin-left: -400px;
          
           
        }

        
    </style>
</head>
<body>

    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            {% if is_view_education %}
            <h6 class="text-primary" style="padding-left: 20px;">Impersonate Employee: {{data.username}}</h6>
            {% endif %}
        </div>
        <div class="header-right">
            <div class="dashboard-setting user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
                        
                    </a>
                </div>
            </div>
            <!-- <div class="user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
                        <i class="icon-copy dw dw-notification"></i>
                        <span class="badge notification-active"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="notification-list mx-h-350 customscroll">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/img.jpg" alt="">
                                        <h3>John Doe</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/photo1.jpg" alt="">
                                        <h3>Lea R. Frith</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/photo2.jpg" alt="">
                                        <h3>Erik L. Richards</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/photo3.jpg" alt="">
                                        <h3>John Doe</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/photo4.jpg" alt="">
                                        <h3>Renee I. Hansen</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="static/index/vendors/images/img.jpg" alt="">
                                        <h3>Vicki M. Coleman</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        <span class="user-icon">
                             
                        {% if k.image %}
                            <img src="{{ k.image.url }}" alt="" style="width: 100%; height:100% ">
                        {% else %}
                        <img src="/static/logo/userlogo.png" id="photo" style="width: 100%; height:100% ">
                        {% endif %}   
                        </span>
                        <span class="user-name">{{request.user.username}}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item" href="{% url 'createpersonalinfo' %}"><i class="dw dw-user1"></i> Profile</a>
                        <a class="dropdown-item" href="{% url 'department' %}" data-toggle="right-sidebar"><i class="dw dw-settings2"></i> Settings</a>
                        <a class="dropdown-item" href="{% url 'help_page' %}"><i class="dw dw-help"></i> Help</a>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dw dw-logout"></i> Logout</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="left-side-bar">
        <div class="brand-logo mt-3">
        <a href="{% url 'dashboard' %}">
            {% if request.user.company_type %}
            {% if request.user.company_type.inverse_logo %}
            <img src="{{ request.user.company_type.inverse_logo.url }}" style="width: 100%; height: 100%;">
            {% else %}
            <img src="/static/logo/deskapp-logo-white.svg" alt="" class="light-logo">
            {% endif %}
            {% else %}
            <img src="/static/logo/deskapp-logo-white.svg" alt="" class="light-logo">
            {% endif %}
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
           <i class="ion-close-round"></i>
        </div>
     </div>
      
       <div class="menu-block customscroll">   <div class="sidebar-menu">
                <ul id="accordion-menu">
					
					<br>
					<li class="btn-primary active" style="background-color:black">
						<a href="{% url 'dashboard' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-house-1"></span><span class="mtext"><b>Dashboard</b></span>
						</a>
					</li>
					
					<li>
						<a href="{% url 'companyprofile' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-building"></span><span class="mtext"><b>Company Profile</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'personalinfonav' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-user1"></span><span class="mtext"><b>My Profile</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'leave' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-calendar-1"></span><span class="mtext"><b>Leave</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'directory' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-list"></span><span class="mtext"><b>Directory</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'dailylog' %}" class="dropdown-toggle no-arrow">
							<span class="micon bi bi-check2-square"></span><span class="mtext"><b>Attendance</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'calender' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-calendar"></span><span class="mtext"><b>Holiday Calendar</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'runpayroll_overview' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-money-2"></span><span class="mtext"><b>Payroll</b></span>
						</a>
					</li>


				</ul>
        </div>
        </div>
    </div>

<div class="main-container">
    <div class="card-box height-100-px overflow-hidden">
        <!-- <div class="profile-tab height-100-p"> -->
                       <!-- <div class="tab height-100-p"> -->
                           <!-- <br><h4 class="text-blue h4" style="padding-left:30px">COMPANY PROFILE</h4> -->
                           <ul class="nav nav-tabs customtab" role="tablist">
                            {% if is_view_education %}

                <li class="nav-item">
                    <a class="nav-link " href="{% url 'view_personalinfo' id=data.id %}">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_work' id=data.id %}">Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_team' id=data.id %}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  href="{% url 'view_education' id=data.id %}" >Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'view_family' id=data.id %}" >Family</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_document' id=data.id %}">Document</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_workweek' id=data.id %}">Work Week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pay_slip' %}">Payroll</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'e_exit' %}">E-Exit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_generated_certificates' %}">Experience Certificates</a>
                </li>
            </li>


                {% else %}
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'personalinfonav' %}">Personal</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="{% url 'worknav' %}">Work</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'view_team' request.user.id %}">Team</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link active" href="{% url 'educationnav' %}">Education</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'familynav' %}">Family</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="{% url 'documentsnav' %}">Document</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'workweeknav' %}">Work Week</a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link" href="{% url 'pay_slip' %}">Payroll</a>
                               </li>
                               <li class="nav-item">
                                <a class="nav-link" href="{% url 'e_exit' %}">E-Exit</a>
                            </li>
                               <li class="nav-item">
                                   <a class="nav-link " href="{% url 'filemanagernav' %}">Filemanager</a>
                               </li>
                               <li class="nav-item">
                                    <a class="nav-link" href="{% url 'list_generated_certificates' %}">Experience Certificates</a>
                                </li>

                               {% endif %}
                            </ul> 
        
                           <!-- <div class="main-container" style="padding-top: 0px; " >   -->
                                <!-- <div class="min-height-200px"> -->
                                    <div class="pd-20 card-box">
                                        <div  class="row">
                                                    <div class="col-md-10">
                                                        <h6 class="float-left">
                                                            Educational Information</h6> 
                                                    </div>
                                                    <div class="col-md-2">
                                                        <i class="fa fa-plus-circle" id="add" data-toggle="modal" data-target="#educationalInfo" style="font-size:24px; color:grey;float: right;cursor: pointer; margin-left: 10px;"></i>
                                                    </div>
                                        </div>

                                                <div class="modal fade bs-example-modal-md" id="educationalInfo" >
                                                    <div class="modal-dialog modal-md modal-dialog-centered" >
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" >Educational Information</h4>
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            </div>
                                                            
                                                                <div class="modal-body">
                                                                    {% if is_view_education %}

                                                                    <form action="{% url 'admin_add_empeducation' uid_4=data.id %} " method="post" enctype="multipart/form-data" class="form-container" role="form" onsubmit="return validateForm()">
                                                                      
                                                                        {% else %}
                                                                        <form action="{% url 'tableeduinfo' uid_4=request.user.id %} " method="post" enctype="multipart/form-data" class="form-container" role="form" onsubmit="return validateForm()">
                                                                            {% endif %}
                                                                            {% csrf_token %} 
                                                                
                                                                                    <div class="col-md-12" >
                                                                                        <div class="form-group">
                                                                                            <label>Qualification <span style="color:red">&#42</span></label>
                                                                                            <select class="custom-select form-control" name="Qualification" required>
                                                                                                <option value="" disabled selected>Select Qualification</option>
                                                                                                <option value="Post graduation">Post Graduation</option>
                                                                                                <option value="Graduation">Graduation</option>
                                                                                                <option value="Diploma">Diploma</option>
                                                                                                <option value="Higher secondary">Higher Secondary</option>
                                                                                                <option value="Secondary">Secondary</option>
                                                                                                {% for i in dep %}
                                                                                                <option value="{{i.id}}">{{i.name}}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group">
                                                                                            <label>Course <span style="color:red">&#42</span></label>
                                                                                            <input class="form-control" type="text" name="Course" id="courseid" pattern="[a-zA-Z\s]+" required  >
                                                                                            <span id="courseError" style="color: red;font-size: small;"></span>              
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group">
                                                                                            <label>Institute Name <span style="color:red">&#42</span> </label>
                                                                                            <input class="form-control" type="text" name="Institutename" id="instituteid" pattern="[a-zA-Z\s]+" required>
                                                                                            <span id="instituteError" style="color: red;font-size: small;"></span> 
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group">
                                                                                            <style>
                                                                                                .inputWithIcon input[type="text"] {  
                                                                                                padding-left: 30px;  
                                                                                                }  
                                                                                                
                                                                                                .inputWithIcon {  
                                                                                                position: relative;  
                                                                                                }  
                                                                                                
                                                                                                .inputWithIcon i {  
                                                                                                position: absolute;  
                                                                                                left: 10;  
                                                                                                top: 6px;  
                                                                                                padding: 9px 8px;  
                                                                                                color: rgb(136, 132, 132);  
                                                                                                transition: 0.3s;  
                                                                                                
                                                                                                }  
                                                                                            </style>
                                                                                            <label for="passout year">Passout Month & Year <span style="color:red">&#42</span></label>
                                                                                            <div class="inputWithIcon">
                                                                                                <i class="icon-copy fa fa-calendar" aria-hidden="true"></i>
                                                                                                <input class="form-control month-picker" readonly placeholder="Select Month & Year" type="text" name="Passout" id="passoutid" required>
                                                                                                <span id="passoutError" style="color: red;font-size: small;"></span> 
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-md-12">
                                                                                        <div class="form-group">
                                                                                            <label>Percentage <span style="color:red">&#42</span></label>
                                                                                            <input class="form-control" type="text" id="percentageInput" name="Percentage" required pattern="(\d{1,2}(\.\d{1,2})?%?)|^100(\.0{1,2})?">
                                                                                        </div> 
                                                                                        </div>
                                                                </div>
                                                                    
                                                                                    <div class="modal-footer">
                                                                                        <button type="submit" class="btn btn-primary" onsubmit="hideadd">Submit</button>
                                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>        
                                                                                    </div>
                                                                
                                                                
                                                                    </form>
                                                                </div>
                                                        </div>
                                                </div>
                                                        
                                            <hr>
                                             {% for i in l %}
                                                <div class="row">
                                                <div class="col-md-3">
                                                    <img src="static\login\images\university-campus.svg" class="float-right" style="width: 50%; height: 50%;" alt="">

                                                </div>
                                                <div class="col-md-7">
                                                    <div class="row">
                                                        <!-- <div class="col"> -->
                                                            <div class="col-md-12" >
                                                                <div class="form-group">
                                                                    <!-- <h7>Qualification:</h7> -->
                                                                    <h6>{% if i.qualification %} {{ i.qualification }} {% endif %}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <!-- <h7>Course:</h7> -->
                                                                    <h6>{% if i.course %} {{ i.course }} {% endif %}</h6>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <!-- <h7>Institute Name:</h7> -->
                                                                    <!-- <label>Institute Name:</label> -->
                                                                    <p>{% if i.institute %} {{ i.institute }} {% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <!-- <h7>Passout Month & Year:</h7> -->
                                                                    <!-- <label for="passout year">Passout Month & Year:</label> -->
                                                                        <!-- <input type="month" class="form-control " id="passout year" name="passout year" min="2000-01" value="2018-05"> -->
                                                                        <p>{% if i.passout %} {{ i.passout }} {% endif %}</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <!-- <h7>Percentage:</h7> -->
                                                                    <!-- <label>Percentage:</label> -->
                                                                    <p>{% if i.percent %} {{ i.percent }} {% endif %}</p>
                                                                </div>
                                                            </div>
                                                        <!-- </div> -->
                                                
                                            </div>
                                                </div>

                                                <div class="col-md-1">
                                                    <a href="#editedu " class="edit" title="Edit"
                                                        data-toggle="modal"  onclick="editeducation(
                                                        qualification = '{% if i.qualification %}{{i.qualification}}{% else %}select qualification{% endif %}',
                                                        course = '{{i.course}}',
                                                        institute = '{{ i.institute }}',
                                                        passout = '{% if i.passout %} {{ i.passout }} {% endif %}',
                                                        percent = '{{i.percent}}',
                                                        edu_id = '{{ i.id }}'
                                                        );">
									
                                                    <i class="fa fa-edit" data-toggle="modal" data-target="" style="font-size:24px;color:grey"></i>
                                                    
                                                    </a>
                                                </div>
                                                <div class="col-md-1">
                                                    {% if is_view_education %}
                                                    <a href="{% url 'admin_delete_empeducation' id=i.id %}"><i class="fa fa-trash" style="font-size:24px;color:grey" ></i></a>
                                                    {% else %}
                                                <a href="{% url 'deleteeduinfo' myuser_4__id=i.id %}"><i class="fa fa-trash" style="font-size:24px;color:grey" ></i></a>
                                                 {% endif %}
                                            </div>
                                                </div>
                                                <hr>
                                                {% endfor %}
                                                
                                           

                                               
                                    </div>

                                    <div class="modal fade bs-example-modal-md" id="editedu" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="">
										<div class="modal-dialog modal-md modal-dialog-centered" >
											<div class="modal-content">
                                                
                                                {% if is_view_education %}
                                                  <form action="{% url 'admin_edit_empeducation' id=data.id %} " method="post" enctype="multipart/form-data" class="form-container" role="form" onsubmit="return validateForm1()">
                                                {% else %}
                                                  <form action="{% url 'updateeduinfo' %} " method="post" enctype="multipart/form-data" class="form-container" role="form" onsubmit="return validateForm1()">
												{% endif %}
                                                    {% csrf_token %}
												<div class="modal-header">
													<h4 class="modal-title" id="myLargeModalLabel">Educational Info</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>
                                                <div class="modal-body">

                                                    <input hidden id="edu_id" name="edu_id">

                                                                    <div class="col-md-12" >
                                                                        <div class="form-group">
                                                                            <label>Qualification <span style="color:red">&#42</span></label>
                                                                            <select class="custom-select form-control" id="qualification1" name="Qualification1" required>
                                                                                <option value="">{% if l.qualification %}{{l.qualification}}{% else %}Select Qualification{% endif %}</option>
                                                                                <option value="Post graduation">Post Graduation</option>
                                                                                <option value="Graduation">Graduation</option>
                                                                                <option value="Diploma">Diploma</option>
                                                                                <option value="Higher secondary">Higher Secondary</option>
                                                                                <option value="Secondary">Secondary</option>
                                                                            </select>     
                                                                        </div>                                                            
                                                                    </div>
                                
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Course <span style="color:red">&#42</span></label>
                                                                            <input class="form-control" pattern="[a-zA-Z\s]+" type="text" id="course1" name="Course1" value=" {% for i in x %}{{i.course}} {% endfor %}" required>
                                                                            <span id="course_Error" style="color: red;font-size: small;"></span>             
                                                                        </div>
                                                                    </div>
                                
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Institute Name <span style="color:red">&#42</span></label>
                                                                            <input class="form-control" type="text" pattern="[a-zA-Z\s]+" id="institute1" name="Institutename1" required>
                                                                            <span id="institute_Error" style="color: red;font-size: small;"></span> 
                                                                        </div>
                                                                    </div>
                                
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <style>
                                                                                .inputWithIcon input[type="text"] {  
                                                                                padding-left: 30px;  
                                                                                }  
                                                                                
                                                                                .inputWithIcon {  
                                                                                position: relative;  
                                                                                }  
                                                                                
                                                                                .inputWithIcon i {  
                                                                                position: absolute;  
                                                                                left: 10;  
                                                                                top: 6px;  
                                                                                padding: 9px 8px;  
                                                                                color: rgb(136, 132, 132);  
                                                                                transition: 0.3s;  
                                                                                
                                                                                }  
                                                                            </style>
                                                                            <label for="passout year">Passout Month & Year <span style="color:red">&#42</span></label>
                                                                            <div class="inputWithIcon">
                                                                                <i class="icon-copy fa fa-calendar" aria-hidden="true"></i>
                                                                                <input class="form-control month-picker" readonly placeholder="Select Month & Year" id="passout1" type="text" name="Passout1" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Percentage <span style="color:red">&#42</span></label>
                                                                            <input class="form-control" type="text" id="editPercentageInput" name="Percentage1" required pattern="(\d{1,2}(\.\d{1,2})?%?)|^100(\.0{1,2})?">
                                                                        </div>
                                                                    </div>
                                                                                    
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-primary"  >Submit</button>
                                                                        <button type="button" class="btn btn-secondary" onclick="closeform()" data-dismiss="modal">Cancel</button>        
                                                                    </div>
                                                </div>
                                                </form>
                                            </div>
											</div>
										</div>
									</div>

    </div>
</div>  
    
    
<!-- js -->
<script src="static/index/vendors/scripts/core.js"></script>
<script src="static/index/vendors/scripts/script.min.js"></script>
<script src="static/index/vendors/scripts/process.js"></script>
<script src="static/index/vendors/scripts/layout-settings.js"></script>
<script src="static/index/src/plugins/jquery-steps/jquery.steps.js"></script>
<script src="static/index/vendors/scripts/steps-setting.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    function editeducation(qualification,course,institute,passout,percent,edu_id){
        document.getElementById('edu_id').value=edu_id;
        document.getElementById('qualification1').value=qualification;
        document.getElementById('course1').value=course;
        document.getElementById('institute1').value=institute;
        document.getElementById('passout1').value=passout;
        document.getElementById('editPercentageInput').value=percent;
            }
</script>

<script>
	function validateForm() {
		var courseInput = document.getElementById("courseid");
		var trimmedcourseInput = courseInput.value.trim();
		var courseError = document.getElementById("courseError");
	  
		var instituteInput = document.getElementById("instituteid");
		var trimmedinstituteInput = instituteInput.value.trim();
		var instituteError = document.getElementById("instituteError");
	  
        var passoutInput = document.getElementById("passoutid");
		var trimmedpassoutInput = passoutInput.value.trim();
		var passoutError = document.getElementById("passoutError");

		if (trimmedcourseInput === "") {
            courseError.textContent = "Course Name Required";
		  
		  return false; 
		}
	  
		if (trimmedinstituteInput === "") {
            instituteError.textContent = "Institute Name Required";
            // instituteInput.focus();
		  return false; 
		}
        
        if (trimmedpassoutInput === "") {
            passoutError.textContent = "Passout Month and Year Required";
            passoutInput.focus();
		  return false; 
		}
	  
		courseError.textContent = ""; 
		instituteError.textContent = ""; 
        passoutError.textContent = ""; 
		return true; 
	  }
	  
</script>

<script>
	function validateForm1() {
		var courseInput = document.getElementById("course1");
		var trimmedcourseInput = courseInput.value.trim();
		var course_Error = document.getElementById("course_Error");
	  
		var instituteInput = document.getElementById("institute1");
		var trimmedinstituteInput = instituteInput.value.trim();
		var institute_Error = document.getElementById("institute_Error");
	  
        // var passoutInput = document.getElementById("passoutid");
		// var trimmedpassoutInput = passoutInput.value.trim();
		// var passoutError = document.getElementById("passoutError");

		if (trimmedcourseInput === "") {
            course_Error.textContent = "Course Name Required";
		  
		  return false; 
		}
	  
		if (trimmedinstituteInput === "") {
            institute_Error.textContent = "Institute Name Required";
            instituteInput.focus();
		  return false; 
		}
        
        // if (trimmedpassoutInput === "") {
        //     passoutError.textContent = "Passout Month and Year Required";
        //     passoutInput.focus();
		//   return false; 
		// }
	  
		course_Error.textContent = ""; 
		institute_Error.textContent = ""; 
        // passoutError.textContent = ""; 
		return true; 
	  }
	  
</script>
<script>
    // Get the input element
    const percentageInput = document.getElementById("percentageInput");

    // Add an event listener to validate the input
    percentageInput.addEventListener("input", function () {
        if (this.validity.patternMismatch) {
            this.setCustomValidity("Please enter a valid percentage ");
        } else {
            this.setCustomValidity(""); // Clear custom validation message
        }
    });
</script>



</body>
</html>