<div bgcolor="#E1E1E1" marginwidth="0" marginheight="0">

    <div style="/* max-width:600px; */background:#fff;border:1px solid #dbdbdb;margin:20px auto"><img style="width:100%">
        <div style="padding-left:10px;padding-bottom:20px">
    
            <h3 style="font-size:24px;color:#c20006;margin-top:20px;text-transform:capitalize">Dear {{name}},</h3>
            <p>Please update your missing profile information</p>
    
            <div>
                <p style="margin:0">Regards, </p>
                <p style="margin:0">Cydez Technologies</p>
                
            </div>
            
        </div>
    </div>
</div>