<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        p{
            font-family: Nunito;
            font-size: 18px;
            max-width: 85%;
        }
    </style>

</head>
<body>

    <p>
        <b>Dear {{r}},</b>
    </p>    
    <p>
        We have received a request to reset your password for your HRMS account. 
        <br>
        1. Your OTP to reset password is {{k}}
        <br>
        2. If the OTP is correct then, create a new password.
        <br>
        <br>
        If you did not request a password reset, please ignore this email, and your account will remain secure.
        <br>
        Thank you for choosing HRMS.
        <br>
    </p>
    <p>
        Best regards,
        <br>
        HRMS Support Team, <br>
        cydezt@gmail.com
    </p>
</body>
</html>