<!DOCTYPE html>
<html>
   {% load static %}
   <head>
      <!-- Basic Page Info -->
      <meta charset="utf-8">
      <title>HRMS</title>
      <link rel="icon" href="/static/logo/apple-touch-icon.png"  type="image/x-icon">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
      <!-- Site favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="/static/index/vendors/images/apple-touch-icon.png">
      <!-- Mobile Specific Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="/static/index/vendors/styles/core.css">
      <link rel="stylesheet" type="text/css" href="/static/index/vendors/styles/icon-font.min.css">
      <link rel="stylesheet" type="text/css" href="/static/index/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
      <link rel="stylesheet" type="text/css" href="/static/index/src/plugins/datatables/css/responsive.bootstrap4.min.css">
      <link rel="stylesheet" type="text/css" href="/static/index/vendors/styles/style.css">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-119386393-1');
      </script>
      <!-- <style>
         .search-bt:hover{
         background-color: #1200ab !important;
         }
         </style> -->
   </head>
   <body>
      <div class="header">
         <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
            <div class="header-search">
               <form action="{% url 'subdepartment' %}" method="GET">
                  <div class="form-group mb-0" style="margin-right:70px;">
                     <i class="dw dw-search2 search-icon"></i>
                     <input type="text" name="search" class="form-control search-input" {% if query is None %} placeholder="Search " {% else %} value="{{query}}" {% endif %}>
                     <div class="col-md-11" style="display: flex;
                        align-items: center;
                        margin-top: -5px;
                        flex-wrap: wrap;
                        flex-direction: row;
                        align-content: center;
                        justify-content: flex-end;
                        ">
                        <span onclick="var input = this.previousElementSibling;input.value = ''; input.focus();" style="position: absolute;margin-left:360px;margin-top:-35px;cursor:pointer" id="cross">
                        <a href="{% url 'subdepartment' %}" style="color: gray;margin-left: 40px;"></a>
                        </span>
                     </div>
                     <div class="dropdown">
                        <button class=" btn-primary dropdown-toggle no-arrow search-bt"  role="button" value="Search">	 
                        <i class="fa fa-search" style="color:White"></i></button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="header-right">
            <div class="dashboard-setting user-notification">
               <div class="dropdown">
                  <a class="dropdown-toggle no-arrow" href="javascript:;" data-toggle="right-sidebar">
                  </a>
               </div>
            </div>
           
            <div class="user-info-dropdown">
               <div class="dropdown">
                  <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                     <span class="user-icon">
                        {% if k.image %}
                        <img src="{{ k.image.url }}" alt="" style="width: 100%; height:100% ">
                        {% else %}
                        <img src="/static/logo/userlogo.png" id="photo" style="width: 100%; height:100% ">
                        {% endif %}	
                     </span>
                     <span class="user-name">{{request.user.username}}</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                     <a class="dropdown-item" href="{% url 'createpersonalinfo' %}"><i class="dw dw-user1"></i> Profile</a>
                     <a class="dropdown-item" href="javascript:;" data-toggle="right-sidebar"><i class="dw dw-settings2"></i> Settings</a>
                     <a class="dropdown-item" href="{% url 'help_page' %}"><i class="dw dw-help"></i> Help</a>
                     <a class="dropdown-item" href="{% url 'logout' %}"><i class="dw dw-logout"></i> Logout</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- <div class="right-sidebar">
         <div class="sidebar-title">
         	<h3 class="weight-600 font-16 text-blue">
         		 Settings -->
      <!--<span class="btn-block font-weight-400 font-12">User Interface Settings</span>-->
      <!-- </h3>
         <div class="close-sidebar" data-toggle="right-sidebar-close">
         	<i class="icon-copy ion-close-round"></i>
         </div>
         </div> -->
      <!-- <div class="right-sidebar-body customscroll">
         <div class="right-sidebar-body-content">
         	<h4 class="weight-600 font-18 pb-10" ><a href="{% url 'department' %}">Department</a> </h4>
         	<h4 class="weight-600 font-18 pb-10" ><a href="{% url 'subdepartment' %}">Sub Department</a> </h4>
         	<h4 class="weight-600 font-18 pb-10"><a href="{% url 'designation' %}">Designation</a></h4>
         	<h4 class="weight-600 font-18 pb-10"><a href="{% url 'job' %}">Job Title</a></h4>
         	<h4 class="weight-600 font-18 pb-10"><a href="{% url 'wrk' %}">Work location</a></h4>
         </div>
         </div> -->
      <!-- </div> -->
      <div class="left-side-bar">
         <div class="brand-logo mt-3">
         <a href="{% url 'dashboard' %}">
            {% if request.user.company_type %}
				{% if request.user.company_type.inverse_logo %}
				<img src="{{ request.user.company_type.inverse_logo.url }}" style="width: 100%; height: 100%;">
				{% else %}
				<img src="/static/logo/deskapp-logo-white.svg" alt="" class="light-logo">
				{% endif %}
				{% else %}
				<img src="/static/logo/deskapp-logo-white.svg" alt="" class="light-logo">
				{% endif %}
         </a>
         <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
         </div>
      </div>
       
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
               <ul id="accordion-menu">
					
					<br>
					<li class="btn-primary active" style="background-color:black">
						<a href="{% url 'dashboard' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-house-1"></span><span class="mtext"><b>Dashboard</b></span>
						</a>
					</li>
					
					<li>
						<a href="{% url 'companyprofile' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-building"></span><span class="mtext"><b>Company Profile</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'personalinfonav' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-user1"></span><span class="mtext"><b>My Profile</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'leave' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-calendar-1"></span><span class="mtext"><b>Leave</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'directory' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-list"></span><span class="mtext"><b>Directory</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'dailylog' %}" class="dropdown-toggle no-arrow">
							<span class="micon bi bi-check2-square"></span><span class="mtext"><b>Attendance</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'calender' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-calendar"></span><span class="mtext"><b>Holiday Calendar</b></span>
						</a>
					</li>
					<li>
						<a href="{% url 'runpayroll_overview' %}" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-money-2"></span><span class="mtext"><b>Payroll</b></span>
						</a>
					</li>


				</ul>
            </div>
         </div>
      </div>
      <div class="mobile-menu-overlay"></div>
      <div class="main-container">
         <div class="row  xs-pd-20-10">
            <div class="col-md-8 min-height-200px">
               <!-- basic table  Start -->
               <div class="pd-20 card-box mb-30">
                  <div class="pull-left">
                     <h5>Sub Department</h5>
                  </div>
                  <div class="pull-right">
                     <div class="col-md-4 col-sm-12 mb-30">
                        <div class="">
                           <a href="#" data-toggle="modal" data-target="#Medium-modal" type="button" class="btn btn-primary btn-sm scroll-click">
                           Add</a>
                           <div class="modal fade bs-example-modal-md" id="Medium-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-md modal-dialog-centered" >
                                 <div class="modal-content">
                                    <div class="modal-header">
                                       <h4 class="modal-title" id="myLargeModalLabel">Add Sub Department</h4>
                                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                       <form action="{% url 'add_subdepartment' %}" method="post" onsubmit="return validateForm()" >
                                          {% csrf_token %}
                                          <div class="col-md" >
                                             <div class="form-group" >
                                                <label for="depname">Department Name <span style="color:red">&#42</span></label>
                                                <select class="form-control" type="text" name="depname" id="depname" required  >
                                                   <option value="">Select Department</option>
                                                   {% for i in department %}
                                                   <option value="{{i.id}}">{{i.name}}</option>
                                                   {% endfor %}
                                                </select>
                                             </div>
                                          </div>
                                          <div class="col-md">
                                             <div class="form-group">
                                                <label >Sub Department Name <span style="color:red">&#42</span> </label>
                                                <input id="subdepartment1"  type="text" class="form-control" name="name" required> 
                                                <span id="subdepartmentError" style="color: red;font-size: small;"></span> 
                                             </div>
                                          </div>
                                          <div class="col-md">
                                             <div class="form-group" >
                                                <label>Description  <span style="color:red">&#42</span></label>
                                                <textarea  type="text" id="description1" class="form-control" name="description" ></textarea>
                                                <span id="descriptionError" style="color: red;font-size: small;"></span> 
                                             </div>
                                          </div>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <input type="submit" class="btn btn-primary" value="Submit" > </input>
                                    </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <table class="table">
                     <thead>
                        <tr>
                           <!-- <th scope="col"></th> -->
                           <th scope="col">Department</th>
                           <th scope="col">Sub Department</th>
                           <th scope="col">Description</th>
                           <th scope="col">Total Emp </th>

                        </tr>
                     </thead>
                     <tbody>
                        {% for i in sub %}
                       
                        <tr>
                           <!-- <th scope="row"></th> -->
                           <td>{{ i.depname }}</td>
                           <td>{{ i.subname }}</td>
                           <td>{{ i.description}}</td>
                           <td>{{ i.user_count}}</td>

                        {% for subdep in i.datas_with_user_count %}
						        <td>{{ subdep.user_count }}</td>
								{% endfor %}
							

                           
                           <td>
                              <a href="#editLPModal" class="edit" title="Edit"
                                 data-toggle="modal" onclick="editLPdetails(
                                 name = '{{i.subname}}',
                                 description = '{{i.description}}',
                                 subdepartment_id='{{ i.id }}',
                                 department='{{ i.depname.id }}',
                                 );"  >
                              <i class="fa fa-edit" data-toggle="modal" data-target="#myModal" style="font-size:24px; ;color:grey"></i>
                              </a>
                              <div class="modal fade bs-example-modal-md" id="editLPModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                 <div class="modal-dialog modal-md modal-dialog-centered" >
                                    <div class="modal-content">
                                       <form action="{% url 'sub1' %}" method="post" >
                                          {% csrf_token %}
                                          <div class="modal-header">
                                             <h4 class="modal-title" id="myLargeModalLabel">Edit Sub Department</h4>
                                             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                          </div>
                                          <div class="modal-body">
                                             <div class="col-md" >
                                                <div class="form-group" >
                                                   <label for="department">Department Name <span style="color:red">&#42</span></label>
                                                   <select class="form-control"  type="text" name="depname" id="department" required>
                                                      <option disabled>Select Department Name</option>
                                                      {% for i in department%}
                                                      <option value="{{i.id}}">{{ i.name }}</option>
                                                      {% endfor %}
                                                   </select>
                                                </div>
                                             </div>
                                             <div class="col-md">
                                                <div class="form-group">
                                                   <label >Sub Department Name <span style="color:red">&#42</span> </label>
                                                   <input name="subname" id="subname" value="{{ subdata.subname }}"  type="text" class="form-control"  required> 
                                                </div>
                                             </div>
                                             <div class="col-md">
                                                <div class="form-group" >
                                                   <label>Description <span style="color:red">&#42</span></label>
                                                   <textarea name="discription" id="decription" value="{{ subdata.description }}" type="text" class="form-control" required></textarea>
                                                </div>
                                             </div>
                                             <input hidden id="sid" name="subid">
                                          </div>
                                          <div class="modal-footer">
                                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                             <input type="submit" class="btn btn-primary" value="Submit" > </input>
                                          </div>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </td>
                           <td>
                              <a class="dropdown-item"  onclick="return confirm('Are you sure to delete?')"href="{% url 'subdelete' userid=i.id %}"><i class="fa fa-trash" style="font-size:24px; ;color:grey"title="Delete" ></i></a>
                           </td>
                           {% empty %}
                        <tr>
                           <td style="text-align: center;" colspan="4">No Records Found</td>
                        </tr>
                        {% endfor %}
                        </tr>
                     </tbody>
                  </table>
                  <div class="row">
                     <div class="col-sm-12 col-md-5">
                        <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">{{ datas.start_index }} - {{ datas.end_index }} of {{ datas.paginator.count }} entries</div>
                     </div>
                     <div class="col-sm-12 col-md-7" style="float: right" >
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                           <ul class="pagination" style="float: right;margin-left: -10px;">
                              {% if datas.has_previous %}
                              <li class="page-item">
                                 <a class="page-link" href="?page={{ datas.previous_page_number }}">< Previous </a>
                              </li>
                              {% else %}
                              <li class="page-item disabled">
                                 <a class="page-link"><</a>
                              </li>
                              {% endif %}
                              {% for i in datas.paginator.page_range %} 
                              {% if i <= datas.number|add:5 and i >= datas.number|add:-5 %}
                              {% if datas.number == i %}
                              <li class="page-item active">
                                 <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                              </li>
                              {% else %}
                              <li class="page-item">
                                 <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                              </li>
                              {% endif %}
                              {% endif %}
                              {% endfor %} 
                              {% if datas.has_next %}
                              <li class="page-item">
                                 <a class="page-link" href="?page={{ datas.next_page_number }}"> ></a>
                              </li>
                              {% else %}
                              <li class="page-item disabled">
                                 <a class="page-link">></a>
                              </li>
                              {% endif %}
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- basic table  End -->
            </div>
            <div class="col-md-4 col-sm-12">
               <div class="card-box mb-30 right-card">
                  <div class="latest-post">
                     <ul>
                        <li>
                           <h4><a class="weight-600 font-18 pb-10" ><a href="{% url 'department' %}">Department</a></h4>
                        </li>
                        <li class="btn-primary active">
                           <h4><a class="weight-600 font-18 pb-10" ><a href="{% url 'subdepartment' %}" style="color:white;">Sub Department</a></h4>
                        </li>
                        <li>
                           <h4><a class="weight-600 font-18 pb-10"><a href="{% url 'designation' %}">Designation</a></h4>
                        </li>
                        <li>
                           <h4><a class="weight-600 font-18 pb-10"><a href="{% url 'job' %}">Job Title</a></h4>
                        </li>
                        <li>
                           <h4><a class="weight-600 font-18 pb-10"><a href="{% url 'wrk' %}">Work Location</a></h4>
                        </li>
                        <li >
                           <h4><a class="weight-600 font-18 pb-10"><a href="{% url 'rule' %}">Leave Rule</a></h4>
                        </li>
                        <li>
                           <h4><a class="weight-600 font-18 pb-10" ><a href="{% url 'salary_component' %}">Salary Component</a></h4>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script>
         function validateForm() {
         	var designationInput = document.getElementById("subdepartment1");
         	var trimmedDesignationInput = designationInput.value.trim();
         	var designationError = document.getElementById("subdepartmentError");
           
         	var descriptionInput = document.getElementById("description1");
         	var trimmedDescriptionInput = descriptionInput.value.trim();
         	var descriptionError = document.getElementById("descriptionError");
           
         	if (trimmedDesignationInput === "") {
         	  designationError.textContent = "Name required";
         	  
         	  return false; 
         	}
           
         	if (trimmedDescriptionInput === "") {
         	  descriptionError.textContent = "Description required";
         	  descriptionInput.focus();
         	  return false; 
         	}
           
         	designationError.textContent = ""; 
         	descriptionError.textContent = ""; 
         	return true; 
           }
           
      </script>
      <script>
         function editLPdetails(subname,description,subdepartment_id,department){
         	document.getElementById('subname').value=subname;
         	document.getElementById('decription').value=description;
         	document.getElementById('sid').value=subdepartment_id;
         	// document.getElementById('department').value=department;
         	var depSelect = document.getElementById('department')
               
                   for(i=0; i < depSelect.options.length; i++) {
                       if(depSelect.options[i].value == department){
                           
                           depSelect.selectedIndex = i;
                           break;
                       }
                   }
         	
         }
      </script>	 
      <!-- js -->
      <script src="/static/index/vendors/scripts/core.js"></script>
      <script src="/static/index/vendors/scripts/script.min.js"></script>
      <script src="/static/index/vendors/scripts/process.js"></script>
      <script src="/static/index/vendors/scripts/layout-settings.js"></script>
      <script src="/static/index/src/plugins/apexcharts/apexcharts.min.js"></script>
      <script src="/static/index/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
      <script src="/static/index/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
      <script src="/static/index/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
      <script src="/static/index/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
      <script src="/static/index/vendors/scripts/dashboard.js"></script>
   </body>
</html>