<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>HRMS</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="static/vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="static/vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="static/vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="static/vendors/styles/style.css">
    <link rel="stylesheet" href="static/login/css/password.css">



	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type='text/javascript'></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
    <style>
        div {
          padding-top: 0px;
          padding-right: -10px;
          padding-bottom: 0px;
          padding-left: 0px;
        }
     
        #btn{
			padding: 6px 3px;
			vertical-align: middle
		}
		#btn1{
			padding: 6px 5px;
		}
    </style>
</head>

<body>
	<div class="d-flex align-items-center flex-wrap justify-content-right">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="static/vendors/images/forgot-password.png" alt="">
				</div>
				<div class="col-md-6">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="login-title">
							<h2 class="text-center text-primary">Forgot Password</h2>
						</div>
						<div id="content">
                            {% include 'messages.html' %}
                            {% block content %}  {% endblock content %}
                          </div>
						<h6 class="mb-20">Enter your email address to reset your password</h6>
						<form method="post" action="{% url 'changepass' %}">
							{% csrf_token %}
						    <div id="verify_email_div"></div>
							<div class="input-group custom" id="email_div">
								<input type="email" class="form-control " name="email" id="email" placeholder="Email">
                                <button id="btn1" onclick="ajax_send_otp()" class="btn btn-primary ">Send OTP</button>
                            </div>
                            <div name="verify" id="verify_text_div"></div>
                            <div class="input-group custom" id="otp_div" >
                                <input type="text" class="form-control " id="otp" name="otp" placeholder="Enter OTP" required>
                                <button id="btn" class="btn btn-primary " onclick="verify_otp()">Verify OTP</button>
                            </div>
                           
                                <div id="form_div" class="form-group mb-3"  style="display: none;">
                                    <input id="password-field" type="password" class="form-control" name="Npassword" placeholder="New password" required  onkeyup="createPass(),check(),disableButton(this)" />
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
									<span id='message1'></span>
                                    </div>
                                    <div id="form_div1" class="form-group mb-3"   style="display: none;">
                                    <input id="password1-field" type="password" class="form-control" name="Cpassword" placeholder="Confirm password" required  onkeyup='check(),disableButton(this);'/>
                                    <span toggle="#password1-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
									<span id='message'></span>
                                    </div>
							<div class="row align-items-center">
								<div class="col-5">
									<div class="input-group mb-0">
										<!--
											use code for form submit
											<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
										-->
										<button disabled id="button" name="button" class="btn btn-primary btn-lg btn-block">Submit</button>
										<!-- <a class="btn btn-primary btn-lg btn-block" href="index.html">Submit</a> -->
									</div>
								</div>
								<div class="col-2">
									<div class="font-16 weight-600 text-center" data-color="#707373">OR</div>
								</div>
								<div class="col-5">
									<div class="input-group mb-0">
										<a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'login' %}">Login</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- js -->
	<script src="static/vendors/scripts/core.js"></script>
	<script src="static/vendors/scripts/script.min.js"></script>
	<script src="static/vendors/scripts/process.js"></script>
	<script src="static/vendors/scripts/layout-settings.js"></script>
    <script src="static/login/js/password.js"></script>
    <script>

		function createPass() {
			passInput = document.getElementById("password-field")
			var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,25}$/;
			if (passInput.value.match(decimal)) {
				document.getElementById('message1').innerHTML = ''; //adding invalid class if password input value do not match with passPattern
			}
			else{
				document.getElementById('message1').style.color = 'red';
				document.getElementById('message1').innerHTML = 'Please enter atleast 8 charatcer with number, symbol, small and capital letter';
			}
		  }


		var check = function() {
			pwd=document.getElementById('password-field');
			if (document.getElementById('password-field').value ==
			  document.getElementById('password1-field').value && pwd.value.length > 0) {
			  document.getElementById('message').style.color = 'green';
			  document.getElementById('message').innerHTML = 'matching';
			} else {
			  document.getElementById('message').style.color = 'red';
			  document.getElementById('message').innerHTML = 'not matching';
			}
		  }

		function disableButton(){
			passInput = document.getElementById("password-field")
			var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,25}$/;
			var bt = document.getElementById('button');
			pwd=document.getElementById('password-field');
			if (document.getElementById('password-field').value ==
			  document.getElementById('password1-field').value && pwd.value.length > 0 && passInput.value.match(decimal)){
				bt.disabled= false
				}
			else { bt.disabled= true; }
			
			}

        var otp_from_back="";
        function ajax_send_otp(){
           email = document.getElementById("email");
         $.post("/send_otp",
             {
                 "email":email.value,
                 "csrfmiddlewaretoken":"{{csrf_token}}"
             },
             function(data, status){
                if(status=="success" && email.value.length > 0){
                     otp_from_back = data;
                     document.getElementById("otp_div").style.display='block';
					 document.getElementById("verify_email_div").style.color="green";
					 document.getElementById("verify_email_div").innerHTML="Email sent";
                     }
				else{
						document.getElementById("verify_email_div").style.color="red";
						document.getElementById("verify_email_div").innerHTML="Try Again!!";
					}
        }
        );
        }
       function verify_otp(){
		   otp_var = document.getElementById("otp");
           var user_otp=document.getElementById("otp").value;
           if (user_otp==otp_from_back  && otp_var.value.length > 0){
               document.getElementById("verify_text_div").style.color="green";            
               document.getElementById("verify_text_div").innerHTML="OTP Verified";
               document.getElementById("form_div").style.display="block";
			   document.getElementById("form_div1").style.display="block";
           }
           else{
               document.getElementById("verify_text_div").style.color="red";
               document.getElementById("verify_text_div").innerHTML="Try Again!!";
           }
		   
       } 
    </script>
</body>

</html>