<!DOCTYPE html>
{% load static %}
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>HRMS</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="static/vendors/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/vendors/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/vendors/images/favicon-16x16.png">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="static/vendors/styles/core.css">
	<link rel="stylesheet" type="text/css" href="static/vendors/styles/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="static/vendors/styles/style.css">
    <link rel="stylesheet" href="static/login/css/password.css">



	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type='text/javascript'></script>

	<script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119386393-1');
	</script>
    <style>
        div {
          padding-top: 0px;
          padding-right: -10px;
          padding-bottom: 0px;
          padding-left: 0px;
        }
     
        #btn{
			padding: 6px 3px;
			vertical-align: middle
		}
		#btn1{
			padding: 6px 5px;
		}

		.input-container {
  		display: flex;
  		/* margin-left: -30px;  */
  		cursor: pointer;
  		}
    	.center {
			display: flex;
      		justify-content: center;
      		align-items: center; 
    	}
    	#message {
  			display:none;
  			color:red;
  			position: relative;
		}

		#message {
		  	display:none;
		  	background: #f1f1f1;
  			color: #000;
  			position: relative;
  			padding: 5px;
  			margin-top: 10px;
		}

		#message p {
  			font-size: 12px;
  			margin-top: 0;
  			margin-bottom: 0;
  			padding: 10px 10px;
		}

		/* Add a green text color and a checkmark when the requirements are right */
		.valid {
			color: green;
		}

		.valid:before {
  			position: relative;
  			content: "✔";
		}

		/* Add a red text color and an "x" when the requirements are wrong */
		.invalid {
 			 color: red;
		}

		.invalid:before {
			position: relative;
  			content: "✖";
		}

    </style>
</head>

<body>
	<div class="d-flex align-items-center flex-wrap justify-content-right">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<img src="static/vendors/images/forgot-password.png" alt="">
				</div>
				<div class="col-md-6">
					<div class="login-box bg-white box-shadow border-radius-10">
						<div class="login-title">
							<h2 class="text-center text-primary">Reset Password</h2>
						</div>
						<div id="content">
                            {% include 'messages.html' %}
                            
                          </div>
						
						<form method="post" action="{% url 'resetpassword' id %}">
							{% csrf_token %}

							<div class="container" >                
								{% for message in messages %}
								 <div class="alert alert-danger  fade show m-2" role="alert">
									{{ message }}
								  </div>
								{% endfor %}
							  </div>
							  <input hidden name="number" id="number" value="{{number}}">
							
						    <!-- <div id="email_id">							
							<div class="input-group custom" id="email_div">
								<input type="email" class="form-control " name="email" id="email" placeholder="Email">
                            </div>
							</div> -->
                                	<div id="form_div" class="form-group mb-3">
									<label>Existing Password</label>	
									<input class="form-control" name="password" placeholder="Existing Password" type="password" id="existingpassword">
									<i class="bi bi-eye-slash" id="togglePassword1" style="position: absolute;margin-top: -7%;margin-left: 57%;cursor: pointer;font-size: larger;"></i>
                                    </div>

                                    <div id="form_div1" class="form-group mb-3">
									<label>New Password</label>
                                    <!-- <input id="password1-field" type="password" class="form-control" name="Npassword" placeholder="Enter New Password" required  />
                                    <span toggle="#password1-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
									<span id='message'></span> -->
									<input class="form-control" id="newpassword" name="newpassword" placeholder="New Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                    				<i class="bi bi-eye-slash" id="togglePassword2" style="position: absolute;margin-top: -7%;margin-left: 57%;cursor: pointer;font-size: larger;"></i>
                                    </div>

                                    <div id="form_div1" class="form-group mb-3">
									<label> Confirm Password</label>	
                                    <!-- <input id="password1-field" type="password" class="form-control" name="Cpassword" placeholder="Confirm New Password" required  />
                                    <span toggle="#password1-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
									<span id='message'></span> -->
									<input class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onkeyup="validate_password()" >
                    				<i class="bi bi-eye-slash" id="togglePassword3" style="position: absolute;margin-top: -7%;margin-left: 57%;cursor: pointer;font-size: larger;"></i>
                                	</div>

							<!-- <div class="row align-items-center">
								<div class="col-5">
									<div class="input-group mb-0"> -->
										<!--
											use code for form submit
											<input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
										-->
										<!-- <button disabled id="button" name="button" class="btn btn-primary btn-lg btn-block">Submit</button> -->
										<!-- <a class="btn btn-primary btn-lg btn-block" href="index.html">Submit</a> -->
									<!-- </div>
								</div>
								<div class="col-2">
									<div class="font-16 weight-600 text-center" data-color="#707373">OR</div>
								</div>
								<div class="col-5">
									<div class="input-group mb-0">
										<a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'login' %}">Login</a>
									</div>
								</div>
							</div> -->

							<span id="wrong_pass_alert">
								<div id="message">
									<p style="font-size: 18px;">Password must contain the following:</p>
									<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
									<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
									<p id="validnumber" class="invalid">A <b>number</b></p>
									<p id="length" class="invalid">Minimum <b>8 characters</b></p>
									{% comment %} 
									<p  style="display:inline;">Password must contain the following:</p>
									<p  style="display:inline;">Must contain at least one number 1 uppercase 1 lowercase letter, and at least 8 or more characters</p>
								 	{% endcomment %}
								  </div>          
							</span>


							<div class="row align-items-center">
								<button class="btn btn-lg btn-block btn-primary w-100 " name="reset_btn" id="reset_btn" type="submit">Reset </button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	 <!-- password eye button -->
	 <script>
		document.getElementById('reset_btn').disabled = true;
		document.getElementById('reset_btn').style.opacity = (0.4);
		const togglePassword1 = document.querySelector("#togglePassword1");
		const password1 = document.querySelector("#existingpassword");
	  
		togglePassword1.addEventListener("click", function () {
			// toggle the type attribute
			const type = password1.getAttribute("type") === "password" ? "text" : "password";
			password1.setAttribute("type", type);
			
			// toggle the icon
			togglePassword1.classList.toggle("bi-eye");
		});

		const togglePassword2 = document.querySelector("#togglePassword2");
		const password2 = document.querySelector("#newpassword");
	  
		togglePassword2.addEventListener("click", function () {
			// toggle the type attribute
			const type = password2.getAttribute("type") === "password" ? "text" : "password";
			password2.setAttribute("type", type);
			
			// toggle the icon
			togglePassword2.classList.toggle("bi-eye");
		});

		const togglePassword3 = document.querySelector("#togglePassword3");
		const password3 = document.querySelector("#confirmpassword");
	  
		togglePassword3.addEventListener("click", function () {
			// toggle the type attribute
			const type = password3.getAttribute("type") === "password" ? "text" : "password";
			password3.setAttribute("type", type);
			
			// toggle the icon
			togglePassword3.classList.toggle("bi-eye");
		});
	  
		
	  
		function validate_password() {
	   
		  var pass = document.getElementById('newpassword').value;
		  var confirm_pass = document.getElementById('confirmpassword').value;
		  if (pass != confirm_pass) {
			  document.getElementById('wrong_pass_alert').style.color = 'red';
			  document.getElementById('wrong_pass_alert').innerHTML
				= '☒ Use same password';
			  document.getElementById('reset_btn').disabled = true;
			  document.getElementById('reset_btn').style.opacity = (0.4);
		  } else {
			  document.getElementById('wrong_pass_alert').style.color = 'green';
			  document.getElementById('wrong_pass_alert').innerHTML = '';
			  //document.getElementById('wrong_pass_alert').innerHTML = '🗹 Password Matched';
			  document.getElementById('reset_btn').disabled = false;
			  document.getElementById('reset_btn').style.opacity = (1);
		  }
	  }
	  
	  function wrong_pass_alert() {
		  if (document.getElementById('newpassword').value != "" &&
			  document.getElementById('confirmpassword').value != "") {
			  alert("Your response is submitted");
		  } else {
			  alert("Please fill all the fields");
		  }
	  }
	  
	  
	  var myInput = document.getElementById("newpassword");
	  var confirm_pass = document.getElementById('confirmpassword');
	  var letter = document.getElementById("letter");
	  var capital = document.getElementById("capital");
	  var number = document.getElementById("validnumber");
	  var length = document.getElementById("length");
	  
	  
	  // When the user clicks on the password field, show the message box
	  myInput.onfocus = function() {
		document.getElementById("message").style.display = "block";
	  }
	  
	  // When the user clicks outside of the password field, hide the message box
	  myInput.onblur = function() {
		document.getElementById("message").style.display = "none";
	  }
	  
	  // When the user starts to type something inside the password field
	  myInput.onkeyup = function() {
		validFlag=true
		document.getElementById("message").style.display = "block";
		if (confirm_pass.value.length>0)
		{
		  validate_password()
		}
		// Validate lowercase letters
		var lowerCaseLetters = /[a-z]/g;
		if(myInput.value.match(lowerCaseLetters)) {  
		  letter.classList.remove("invalid");
		  letter.classList.add("valid");
		} else {
		  letter.classList.remove("valid");
		  letter.classList.add("invalid");
		  validFlag=false;
		}
		
		// Validate capital letters
		var upperCaseLetters = /[A-Z]/g;
		if(myInput.value.match(upperCaseLetters)) {  
		  capital.classList.remove("invalid");
		  capital.classList.add("valid");
		} else {
		  capital.classList.remove("valid");
		  capital.classList.add("invalid");
		  validFlag=false;
		}
	  
	   // Validate numbers
	   var numbers = /[0-9]/g;
	   if(myInput.value.match(numbers)) {  
		 number.classList.remove("invalid");
		 number.classList.add("valid");
	   } else {
		 number.classList.remove("valid");
		 number.classList.add("invalid");
		 validFlag=false;
	   }
		
		// Validate length
		if(myInput.value.length >= 8) {
		  length.classList.remove("invalid");
		  length.classList.add("valid");
		} else {
		  length.classList.remove("valid");
		  length.classList.add("invalid");
		  validFlag=false;
		}
		if(validFlag==true){
		  document.getElementById("message").style.display = "none";
		}
	  }
	  </script>

<script type="text/javascript" >
    function preventBack(){window.history.forward();}
     setTimeout("preventBack()", 0);

     //alertbox fade 
     window.onunload=function(){null};window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 4000);


 </script>

	<!-- js -->
	<script src="static/vendors/scripts/core.js"></script>
	<script src="static/vendors/scripts/script.min.js"></script>
	<script src="static/vendors/scripts/process.js"></script>
	<script src="static/vendors/scripts/layout-settings.js"></script>
    <script src="static/login/js/password.js"></script>
    <script>

		